<div class="col-4">
    <div class="card">
        <img src="https://i.ytimg.com/vi/Nvm7JzhUpc4/mqdefault.jpg" class="card-img-top" alt="..."/>
        <div class="card-body">
            <h5 class="card-title">Ver su Certificado</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Click Aquí</a>
        </div>
    </div>
</div>
<div class="col-4">
    <div class="card">
        <img src="https://i.ytimg.com/vi/Q3JBvLOzL0o/mqdefault.jpg" class="card-img-top" alt="..."/>
        <div class="card-body">
            <h5 class="card-title">Ver su Certificado</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Click Aquí</a>
        </div>
    </div>
</div>