return (
    <div className="text-center">
    <Layout>
    <header>
        
    </header>
    <h1 className="main-title home-page-title">Welcome to Virtual Academy</h1>
    <Link to="/">
        <button className="primary-button">Log out</button>
    </Link>
    <Link to="/perfil">
            <button className="primary-button" id="reg_btn"><span>Perfil</span></button>
    </Link>
    <span><p>{localStorage.getItem('user-info')}</p></span>
    <span><p>{items.username}</p></span>
    <span><p>{items.email}</p></span>
    <div>
        <h3>Lista de Cursos</h3>
        <section>
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
          {cursos.map( curso =>{
          <tr key={curso.id}>
          <td>{curso.name}</td>
          <td>{curso.precio}</td>
          <td>{curso.description}</td>
          <td>
              <button onClick={curso_i} type="submit">Editar</button>
          </td>
          </tr>
          })}
          </tbody>
        </table>
       
        </section>
    </div>
    </Layout>
</div>)